.App{
  max-width: 90vw;
  margin-inline: auto;
  text-align: center;
  
}

.App button ,
.App input[type="search"]{
  font-size: 1.125rem;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  color: #36395A;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  padding-inline: 1rem;
  transition: box-shadow .15s, transform .15s;
}
.App input[type="search"]{
  cursor: text;
  margin-left: 1rem;
}

.App button:hover,
.App button:focus,
.App input[type="search"]:hover {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  outline: none;
}

.App button.active,
.App button:active,
.App input[type="search"]:focus {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
  outline: none;
}
.App button.active{
  cursor: auto;
}
h1{
  font-family: "JetBrains Mono", monospace;
}